
body {
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}
#container {
	width: 884px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	margin-bottom: 50px;
	overflow: auto;
}
#left {
	width:324px;
	height: 176px;
	border: 1px solid #e8e8e8;
	float: left;
	border-radius: 6px;
	background-color: #f9f9f9;
}
#right {
	width: 544px;
	border: 1px solid #e8e8e8;
	float: right;
	border-radius: 6px;
}
#left textarea {
	width: 290px;
	height: 50px;
	margin: 12px;
	border: 1px solid #e8e8e8;
	color: #aaa;
	border-radius: 4px;
	padding: 6px;
	font-size: 13px;
}
h3 {
	margin: 0px;
}
input {
	width: 290px;
}
div.row {
	border-bottom: 1px solid #e8e8e8;
	padding: 12px;
}
div.tweet {
	border-bottom: 1px solid #e8e8e8;
	padding: 9px 12px 9px 12px;
}



a.button {
	position: relative;
	width:520px;
	height:30px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:33px;
	font-family:Helvetica;
	font-size: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-shadow:-1px -1px 0 #2C7982;
	background: #3EACBA;
	border:1px solid #379AA4;
	background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:linear-gradient(top, #48C6D4, #3EACBA);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}
a.button.small {
	width: 300px;
}
a.button:hover {
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:linear-gradient(top, #3EACBA, #48C6D4);
}
div.button {
	text-align: center;
}